.btn-new-memo {
  font-weight: 500;
}

#new-memo-modal {
  .modal-title {
    margin-bottom: 0px;
    padding-top: 4px;
    font-size: 22px;
    font-weight: 500;
  }

  .modal-body {
    padding-top: 10px;
    padding-bottom: 5px;

    .col-form-label {
      font-size: 18px;
      font-weight: 500;
    }
  }

  #new-memo-content {
    min-height: 180px;
  }
}
