.btn-delete-memo {
  font-weight: 500;
}

.delete-memo-modal {
  .modal-title {
    margin-top: 2px;
    font-size: 22px;
    font-weight: 500;
  }

  .modal-body {
    font-size: 18px;
    font-weight: 400;
  }
}
