.memo-record-read-btn {
  &:hover {
    cursor: pointer;
  }
}

.offcanvas {
  border: none;
  // width: 25%;
  // min-height: 75%;
  max-width: 480px;
  min-height: 75%;

  .offcanvas-header {
    min-height: 80px;
    padding: 0px;

    .offcanvas-label {
      font-size: 22px;
      font-weight: 600;
      position: absolute;
      top: 24px;
      left: 20px;
      padding: 0px;
      margin: 0px;
    }

    .btn-close {
      font-size: 16px;
      position: absolute;
      top: 32px;
      right: 30px;
      padding: 0px;
      margin: 0px;
    }
  }

  hr {
    margin: 1px 0px;
  }

  .offcanvas-body {
    font-size: 16px;
    padding: 12px 16px;
    margin: 0px;
  }
}
