.navbar{
    background-color: #1d1d1d; 
    height: 73px;
}

.main-navbar .nav-link {
    margin-top: 2px;
    color : #adadad;
    &:link{
        color : #adadad;
        text-decoration: none;
    }
    &:visited{
        color : #adadad;
        text-decoration: none;
    }
    &:hover{
        color : #adadad;
        text-decoration: none;
    }
    &:focus{
        color : #adadad;
        text-decoration: none;
    }
}

.dropdown-item {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 500;
}

.btn-toggle-icon{
    &:hover{
        cursor: pointer;
    }
}