@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.root-body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  min-height: 100vh;

  .login-body {
    max-width: 400px;
  }
}
