@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Clock Digit";
  src: url("../../assets/fonts/digital-7.ttf");
}

.btn-ass {
  font-family: "Clock Digit", "Roboto";
  font-size: 26px;
  font-weight: bold;
  padding: 0px;
  position: absolute;
  width: 270px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0px;
  margin-bottom: 8px;
  text-align: center;

  &.btn-success,
  &.btn-danger {
    opacity: 0.9;
  }
}
