$sidebar-width: 250px;
$icon-size: 42px !important;

@import "../../../node_modules/react-pro-sidebar/dist/scss/styles.scss";

.sidebar-main {
  height: 100%;
  width: $sidebar-width;
  position: absolute;
  left: 0;
  top: 0;
}

.sidebar-header {
  padding-top: 22px;
  padding: 24px 25px;
  height: 75px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 19px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 2px solid rgba(173, 173, 173, 0.2) !important;

  .home-text {
    color: #adadad;
    &:link {
      color: #adadad;
      text-decoration: none;
    }
    &:visited {
      color: #adadad;
      text-decoration: none;
    }
    &:hover {
      color: #adadad;
      text-decoration: none;
    }
    &:focus {
      color: #adadad;
      text-decoration: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.sidebar-content {
  .pro-icon-wrapper {
    font-size: 15px !important;
  }

  .menuitem {
    margin-bottom: 4px;
    font-size: 17px !important;
  }
}

.sidebar-footer {
  padding: 24px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: -4px;

  .univ-text {
    font-size: 16px !important;
    color: #adadad;
    &:link {
      color: #adadad;
      text-decoration: none;
    }
    &:visited {
      color: #adadad;
      text-decoration: none;
    }
    &:hover {
      color: #adadad;
      text-decoration: none;
    }
    &:focus {
      color: #adadad;
      text-decoration: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
