@import '~react-pro-sidebar/dist/scss/styles.scss';

.sidebar-main {
    height: 100%;
    width: 270px;
    position: absolute;
    left: 0;
    top: 0
}

.sidebar-header {
    padding: 24px;
    height: 73px;
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: 16px; 
    letter-spacing: 1px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;

    .home-text{
        color : #adadad;
        &:link{
            color : #adadad;
            text-decoration: none;
        }
        &:visited{
            color : #adadad;
            text-decoration: none;
        }
        &:hover{
            color : #adadad;
            text-decoration: none;
        }
        &:focus{
            color : #adadad;
            text-decoration: none;
        }
        &:hover{
            cursor: pointer;
        }
    }
}

.sidebar-footer {
    padding: 24px;
    text-align: left; 
    font-size: 16px;
    font-weight: 400; 
    letter-spacing: 1px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    margin-left: -1px;

    .univ-text{
        color : #adadad;
        &:link{
            color : #adadad;
            text-decoration: none;
        }
        &:visited{
            color : #adadad;
            text-decoration: none;
        }
        &:hover{
            color : #adadad;
            text-decoration: none;
        }
        &:focus{
            color : #adadad;
            text-decoration: none;
        }
        &:hover{
            cursor: pointer;
        }
    }
}

.menuitem {
    margin-bottom: 4px;
}