.btn-new-task {
  font-weight: 500;
}

#new-task-modal {
  .modal-ass {
    margin-bottom: 0px;
    padding-top: 5px;
    font-size: 22px;
    font-weight: 500;
  }

  .modal-body {
    padding-top: 8px;

    #new-task-ass {
      min-height: 120px;
    }

    .col-form-label {
      font-size: 18px;
      font-weight: 500;
    }

    .date-btn {
      font-size: 17px;
      border-radius: 5px;
      font-weight: 500;
    }

    .react-datepicker {
      font-family: "Roboto", "Noto Sans KR", sans-serif;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range {
      border-radius: 0.3rem;
      background-color: #858585;
      color: #f1f1f1;
      font-weight: 500;
    }
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
      border-radius: 0.3rem;
      background-color: #858585;
      color: #f1f1f1;
    }
  }
}
