.btn-edit-task {
  font-weight: 500;
}

#edit-task-modal {
  .modal-title {
    font-size: 22px;
    font-weight: 500;
  }

  .modal-body {
    .col-form-label {
      font-size: 18px;
      font-weight: 500;
    }
  }

  #edit-task-content {
    min-height: 180px;
  }
}
