.memo-record {
  .memo-record-title {
    max-width: 150px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .memo-record-content {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .memo-record-date {
    min-width: 150px;
    max-width: 150px;
    width: 150px;
  }

  .memo-record-action {
    min-width: 140px;
    max-width: 140px;
    width: 140px;
    .memo-record-action-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .memo-record-read {
    min-width: 55px;
    max-width: 55px;
    width: 55px;
    font-size: 18px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
}
