.task-navbar{
    background-color: #fff;
    height: 65px;
    position: relative;
    width: 100%;
    top:0;
    right: 0;

    .dropdown-item{
        font-size: 15px;
    }
    
    .btn-group{
        padding-right: 3px;
        padding-bottom: 1px;

        .btn-sort{
            font-weight: 500;
        }

        .dropdown-menu {
            padding: 6px 0px;

            .dropdown-divider{
                margin: 6px 0px;
            }

            .dropdown-item{
                font-weight: 600;
                padding-left: 14px;
            }

            .dropdown-item:active{
                background-color: transparent;
            }
        }
    }
    
    .container-fluid {
        padding: 3px 14px 0px 16px;
        position: absolute;   
    }
}
